
body {
border: 1px;
padding: 30px;
margin: 30px;
background-color: #f4eab4;
}

.objectives p {
  padding-left: 20px;
  padding-right: 10px;
}

.aboutme p {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #b4bef4;
}

#italics {
  font-style: italic;
}

.projects-text li a {
  font-style: italic;
}

img {
  border-color: black;
  border-width: 20px;
  border: solid;
}

img.about-me{
  border: 10px;
  border-color: black;
  float: right;
  max-height: 150px;
  max-width: 200px;
  width: 120px;
  height: 120px;
  margin: 10px;

}

h1 {
text-align: center;
  }

h2, h4 {
  padding-left: 20px;
  font-family: inherit;
}
