/* Project includes a custom-made stylesheet that uses cascading, */

body {
  border: 1px;
  padding: 30px;
  margin: 30px;
  background-color: #f4eab4;
}

.objectives p {
  padding-left: 20px;
  padding-right: 10px;
}

.aboutme p {
  padding-left: 10px;
  padding-right: 10px;
}

#italics {
  font-style: italic;
}

.projects-text li a {
  font-style: italic;
}

.title {
  height: 1000;
}
img {
  border-color: lightgray;
  border-width: 5px;
  width: 150px;
  border-radius: 5%;
  border: lightgrey;
  float: left;
}

/* img.about-me {
  border: 10px;
  border-color: black;
  float: right;
  max-height: 150px;
  max-width: 200px;
  width: 120px;
  height: 120px;
  margin: 10px;
} */

h1 {
  text-align: center;
}

h2,
h4 {
  padding-left: 20px;
  font-family: inherit;
}
